@import "tailwindcss";

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Optional: round the edges */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: round the edges */
}

/* Optional: Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.no-bar::-webkit-scrollbar {
  height: 0px;
}

.grid-md {
  display: grid;
  gap: 1rem; /* Adjust spacing between grid items */
}

@media (max-width: 1190px) {
  .grid-md {
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  }
}
@media (max-width: 1025px) {
  .grid-md {
    grid-template-columns: repeat(2, 1fr); /* 3 columns of equal width */
  }
}
@media (max-width: 770px) {
  .grid-md {
    grid-template-columns: repeat(1, 1fr); /* 3 columns of equal width */
  }
}